body{
    color:rgb(103, 147, 185);
    background-color: rgb(168, 255, 168);
}
.heading{
    width: 80%;
    font-size: 22px;
}
#camera{
border: 2px dashed black;
width: 350px;
height: 300px;
}